<!DOCTYPE html>
<html>
  <head>
    <title>Hololive Viewership Stats</title>
    <meta charset="utf-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/vue@2.6.12/dist/vue.js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/vue-router@3.4.8/dist/vue-router.js"
    ></script>
    <script src="https://unpkg.com/vue-chartjs@3.5.1/dist/vue-chartjs.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui@2.13.2/lib/theme-chalk/index.css"
    />
    <script
      type="text/javascript"
      src="https://unpkg.com/element-ui@2.13.2/lib/index.js"
    ></script>
    <script src="https://unpkg.com/element-ui@2.13.2/lib/umd/locale/en.js"></script>
    <link href="./styles.css" rel="stylesheet" />
  </head>
  <body>
    <section id="chart-all">
      <el-menu id="nav" :default-active="$route.name" :collapse="true">
        <div id="config-button-wrapper">
          <el-tooltip
            effect="dark"
            content="Data Configuration"
            placement="right"
          >
            <el-button
              id="chart-sidebar-open"
              type="default"
              icon="el-icon-setting"
              circle
              @click="openSidebar"
            ></el-button>
          </el-tooltip>
        </div>
        <router-link :to="{ path: '/value', query: configQuery }">
          <el-menu-item index="value">
            <i class="el-icon-data-line"></i>
            <span slot="title">Value vs. Date</span>
          </el-menu-item>
        </router-link>
        <router-link :to="{ path: '/rate', query: configQuery }">
          <el-menu-item index="rate">
            <i class="el-icon-timer"></i>
            <span slot="title">Rate of change vs. Date</span>
          </el-menu-item>
        </router-link>
        <router-link :to="{ path: '/rank', query: configQuery }">
          <el-menu-item index="rank">
            <i class="el-icon-trophy"></i>
            <span slot="title">Rank vs. Date</span>
          </el-menu-item>
        </router-link>
        <router-link to="/about">
          <el-menu-item index="about">
            <i class="el-icon-info"></i>
            <span slot="title">About HODLLive</span>
          </el-menu-item>
        </router-link>
      </el-menu>
      <section id="chart-config" v-if="configOpen">
        <section id="config-header">
          <el-button
            id="chart-sidebar-close"
            type="default"
            icon="el-icon-close"
            circle
            @click="closeSidebar"
          ></el-button>
        </section>
        <el-form id="config-form">
          <el-card class="config-section" shadow="never">
            <h1 slot="header">Dimension</h1>
            <el-radio-group v-model="dimension">
              <el-radio-button label="subs">Subscribers</el-radio-button>
              <el-radio-button label="views">Views</el-radio-button>
            </el-radio-group>
          </el-card>
          <el-card class="config-section" shadow="never">
            <h1 slot="header">Members</h1>
            <el-row type="flex" id="member-search">
              <el-col :span="16">
                <el-input
                  placeholder="Member name"
                  prefix-icon="el-icon-search"
                  v-model="memberSearch"
                  v-on:change="completeMemberSearch"
                >
                </el-input>
              </el-col>
              <el-col :span="8">
                <el-button-group>
                  <el-dropdown @command="selectMemberPreset">
                    <el-button type="default" icon="el-icon-arrow-down">
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item command="daily-top-5"
                        >Top 5 Today</el-dropdown-item
                      >
                      <el-dropdown-item command="daily-top-10"
                        >Top 10 Today</el-dropdown-item
                      >
                    </el-dropdown-menu>
                  </el-dropdown>
                  <el-tooltip
                    id="clear-all-members"
                    effect="dark"
                    content="Clear selection"
                    placement="right"
                  >
                    <el-button
                      type="default"
                      icon="el-icon-delete"
                      @click="clearSelectedMembers"
                    ></el-button>
                  </el-tooltip>
                </el-button-group>
              </el-col>
            </el-row>
            <el-tree
              show-checkbox
              node-key="id"
              ref="memberSelect"
              check-on-click-node
              :render-after-expand="false"
              :expand-on-click-node="false"
              :default-checked-keys="selectedMembers"
              :data="constants.generationTree"
              v-on:check-change="setMemberCheck"
            ></el-tree>
          </el-card>
          <el-card class="config-section" shadow="never">
            <h1 slot="header">Date Range</h1>
            <el-form-item label="Mode">
              <el-select v-model="dateMode">
                <el-option value="absolute" label="Absolute"></el-option>
                <el-option
                  value="relative"
                  label="Relative"
                ></el-option> </el-select
            ></el-form-item>
            <el-form-item v-if="dateMode === 'absolute'" label="Date Range">
              <el-date-picker
                v-model="absoluteDateRange"
                type="daterange"
                start-placeholder="Start Date"
                end-placeholder="End Date"
                :clearable="false"
                :picker-options="selectDateRangeOptions"
              ></el-date-picker>
            </el-form-item>
            <el-form-item v-else-if="dateMode === 'relative'" label="Last">
              <el-input-number
                v-model="relativeDateMagnitude"
                controls-position="right"
                size="small"
              ></el-input-number>
              <el-radio-group v-model="relativeDateUnit">
                <el-radio-button label="days"></el-radio-button>
                <el-radio-button label="months"></el-radio-button>
              </el-radio-group>
            </el-form-item>
          </el-card>
        </el-form>
      </section>
      <router-view id="router-route"></router-view>
    </section>
    <script type="module" src="./hodllive.js"></script>
  </body>
</html>
