* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
  width: 100wh;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Libre Baskerville", serif;
}
#chart-all {
  flex-grow: 1;
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  justify-content: flex-start;
}
#config-button-wrapper {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.chart-container {
  position: relative;
  flex-grow: 1;
}
#chart-config {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 30em;
  width: 30em;
  background: #ffffff;
  z-index: 2000;
  border-right: 1px solid #000000;
}
#config-header {
  margin-left: 11px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
#config-form {
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 5px;
  padding-bottom: 20px;
}
#config-header h1 {
  display: inline-block;
  font-size: 36px;
}
.config-section {
  margin: 1vw;
}
#member-search {
  margin-bottom: 10px;
}
/* Hacks around the fact that Element is bad */
.el-dropdown {
  float: left;
}
.el-button-group > .el-dropdown > .el-button {
  border-radius: 0;
}
#about {
  padding: 20px;
  max-width: 50vw;
}
#about-title {
  padding: 20px 20px 0 20px;
  font-size: 36px;
  font-weight: 700;
}
#about-blurb {
  padding: 0 20px 20px 20px;
}
#about-blurb p + p {
  margin-top: 1em;
}
#router-route {
  flex-grow: 1;
}
